body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-link {
    display: flex;
    justify-content: space-around;
    background: darkgrey;
    padding: 12px;
}
.header-tile {
    display: flex;
    justify-content: space-around;
    margin: 10;
    margin: 10px 0px;
    background: darkgrey;
    padding: 12px;
}

.header-section {
  background: darkgrey;
}
.health-des {
  text-align: center;
  padding-bottom: 50px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.home-container {
  background-color: lightgray;
}
.view-sec {
  background-color: lightgray;
  padding: 20px;
}